*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
a faire.md
concepts.md
lookme.md
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/views/dash
/routes/web.php
/storage/*.key
/storage/pail
/vendor
/vision
Homestead.json
Homestead.yaml
Thumbs.db
